<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<meta http-equiv="Content-Security-Policy" content="
default-src 'self'; 
script-src 'self'
https://utteranc.es/client.js
'sha256-DIi4GIKtBsqMCKRB4pYhr65/HrITH7vunq8V5FcSjd0='
'sha256-3pWSUO22nm8gZVd9biTPPK43Ukv8Kh0QmaqRmshDahU='; 
style-src 'self' 
'unsafe-hashes'
'sha256-D7ijG/zCql/YhNv8L8CBmT2MFN8VbXlJ6FtvYpYKeXU='
'sha256-9HupEqQsOKAA3TMVtaZh8USULhFpwYGuWFk+44sVSgg='
'sha256-cbniLAiwEjiaozL/SNn2xfxXR90Sm/rokzRqqDGJPCA='
https://fonts.googleapis.com; 
img-src 'self'; 
font-src 'self' 
https://fonts.gstatic.com; 
connect-src 'self'; 
media-src 'self'; 
object-src 'self'; 
child-src 'self'; 
frame-src 'self'
https://utteranc.es/;
form-action 'none'; 
base-uri 'self'" />
<meta http-equiv="X-XSS-Protection"  content="1;mode=block" always>
<meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">

  {%- include head.html -%}

  <body>
    <div class="container" id="ctner">

      {%- include header.html -%}

      <main>
        {{ content }}
      </main>

      {%- include footer.html -%}

    </div>
  </body>
</html>