<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<meta http-equiv="Content-Security-Policy" content="
default-src 'none'; 
script-src 'self' 
https://cdn.jsdelivr.net/npm/mathjax@3/; 
style-src 'self' 
https://fonts.googleapis.com 
'sha256-JLEjeN9e5dGsz5475WyRaoA4eQOdNPxDIeUhclnJDCE=' 
'sha256-mQyxHEuwZJqpxCw3SLmc4YOySNKXunyu2Oiz1r3/wAE=' 
'sha256-OCf+kv5Asiwp++8PIevKBYSgnNLNUZvxAp4a7wMLuKA=' 
'sha256-trR7JwveKVMgnodBl3ld+T42sD/8Nob3daQDT5n8sYw=' 
'sha256-NrquG8Bjbr/lV4VdpncGnR7MfOFL1V4s0iORCTfltVI='
'sha256-f5Bw8pK7eF1+j93fpSMBM7JixNi4Qz0EiZP52M6y+qE='
'sha256-ygKxBw9W2g6dT6rovk9dCpe2SnwqaUdSDM8foJG8uZ0='
'sha256-DfgCyT/nCg4NXLwuizjFf5YFtprvSDczQB2D9PW3XZs='
'sha256-q++0yreTQZLPINxxCZeUJgwK7FrXjcb10HDYN/6DV18='
'sha256-krtmKxV0+Ovx7PUVnARSLipPPbR3FlpaNGhR9T4iF58='
'sha256-sHUOctJzA2MfQvRqetuNjw7V1M1+BKFQzMh0CfFkHx4='
'sha256-qs8iIPWmVxsyHwL3+2Fb0ZulJFEBeeM7L/Uk7Pw/k7o='
'sha256-ghy0dEA73dZC9X7cGzWWyyGmiaeAAJievcKXVksul2k='
'sha256-XNwlp7qtKT+DAe5kqKr4edgGJsycPpW/NBV3/TwkGnQ='
'sha256-EJiy2Z6NyOtVs5qBVzULDxdDSaN1A1iaA27+TBHsh20='
'sha256-wEfi7b6tRVXKW7dew3vWUXg7UJplkTar6X31tHiO2ds='
'sha256-7IZ1lteja0YW42sdKltX5gMYlmg2emLN8rlFKlOzjJg='
'sha256-mKxZv+Z7VJECBA8UQ2de3crj4CcyffL2PPIYcl5ihEw='
'sha256-l5TpzVOr+dUneX2Pk1UxsMqzAdHN169zpjb1dzL5Ex0='
'sha256-EGbFwU7dtCsPVHNo1U9BQGvfHJwCKKWQNqxRfd1scUk='
'sha256-RUD0t4NF5EvyhIB+CJ+4RtHyLe4Z8nHR4mbatlh4990='
'sha256-dxcASIjkHGn/ymdxx9pDbLWJdxPOMeZbdy7gh6HilLw='
'sha256-JLLkvh78lezpI6hAOd3/sCo+e3v6lWkzBATIykZCqPQ='
'sha256-7welHTGddY4yG5k0INcKA2XK8wcnTws2dede4WZS4JQ='
'sha256-ptwnx8cdhq34ySpluCAeU+qGpJtgfdkWwJRTHn1jnGY='
'sha256-uYUmrN+uNLKWBi12x+ED5sQyiNNtsGC/qFqOUdfHTq8='
'sha256-3YmWV64WcrNVvkepQFXbSnsuFdlquLTcJjcZldw10Xg='
'sha256-yR+nbuP99PJEta4mOfqRcHEDwq2vBiOCfezCc3J0GxY='; 
img-src 'self'; 
font-src 'self' 
https://fonts.gstatic.com 
https://cdn.jsdelivr.net/npm/mathjax@3/; 
connect-src 'self'; 
media-src 'self'; 
object-src 'self'; 
child-src 'self'; 
frame-src 'self';
form-action 'none'; 
base-uri 'self'" />
<meta http-equiv="X-XSS-Protection"  content="1;mode=block" always>
<meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">

  {%- include head.html -%}

  <body>
    <div class="container" id="ctner">

      {%- include header.html -%}

      <main>
        {{ content }}
      </main>

      {%- include footer.html -%}

    </div>
  </body>
</html>