---
layout: default
---

<script src="{{ "/assets/masonry-4.2.2/dist/masonry.pkgd.js" | relative_url }}"></script>

<script src="{{ "/assets/imagesloaded-4.1.4/imagesloaded.pkgd.js" | relative_url }}"></script>

{{ content }}

<script>

  // init Masonry
  var grid = document.querySelector('.grid');

  var msnry = new Masonry( grid, {
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    gutter: '.gutter-sizer',
    percentPosition: true
  });

  imagesLoaded( grid ).on( 'progress', function() {
    // layout Masonry after each image loads
    console.log("image loaded");
    msnry.layout();
  });

  document.getElementById("mxmz_btn").addEventListener("click", 
    function( event ) {
    console.log("maximize / minimize button pressed");
    // trigger layout
    msnry.layout();
  });


</script>